*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    border-color: rgb(244, 240, 241);
}
li{
    list-style-type: none;
}
.check{
    border: 1px solid green;
    border-radius: 50%;
    color: green;
}
.cross{
    border: 1px solid red;
    border-radius: 50%;
    color: red;
}
.sfondo
{
     background-color: rgba(0, 0, 0, 0.1);
     padding: 30px;
     margin-top: 10px;
    }

.logo{
    height: 60px;
    vertical-align: middle;
    line-height: 100px;
    padding: 5px;
    margin-left: 10px;
}


.logo-text{
    vertical-align:middle;
    display: inline-block;
    font-size: 40px;
    
}
.task{
    
    border-radius:10%;
    background-color: rgb(37, 137, 214);
    padding: 8px;
    border-color: rgb(216, 216, 217);
}
.section{
    border-radius:10%;
    padding: 8px;
    border-color: rgb(216, 216, 217);
    color: rgb(187, 187, 187)
    
}


.newtask{
    margin-top: 20px;
    margin-bottom: 10px;
}
.editorial{
    border-radius:30%;
    background-color: rgb(37, 137, 214);
    padding: 4px;
    border-color: rgb(216, 216, 217);
    color: #fff;
    text-align: center;
    font-size: 12px;

}
h2{
    margin-top: 30px;
}

.altezzatesto{
    line-height: 2.5;
}

.q1goals{
    border-radius:30%;
    background-color: rgb(139, 21, 133);
    padding: 4px;
    border-color: rgb(216, 216, 217);
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.recruiting{
    border-radius:30%;
    background-color: rgb(37, 214, 120);
    padding: 4px;
    border-color: rgb(216, 216, 217);
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.mobile{
    border-radius:30%;
    background-color: rgb(214, 93, 37);
    padding: 4px;
    border-color: rgb(216, 216, 217);
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.website{
    border-radius:30%;
    background-color: rgb(214, 37, 128);
    padding: 4px;
    border-color: rgb(216, 216, 217);
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.sales{
    border-radius:30%;
    background-color: rgb(28, 199, 13);
    padding: 4px;
    border-color: rgb(216, 216, 217);
    color: #fff;
    text-align: center;
    font-size: 12px;
}





